@charset "UTF-8";

body {
    background-color: green;
    height: 100vh; /* Use vh para garantir que ocupa a altura total da tela */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Adicionado para garantir que o conteúdo seja empilhado verticalmente */
}

#aprovv {
    font-size: 120px;
    color: white;
    display: block;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center; /* Adicionado para centralizar o texto */
    margin: 20px 0; /* Adicionado espaço ao redor do título */
}

div > button {
    margin: auto;
    display: block;
    text-align: center;
    padding: 10px 20px; /* Adicionado para um visual de botão melhor */
    font-size: 16px;
    cursor: pointer; /* Adicionado para mostrar que o botão é clicável */
    border: none;
    background-color: white;
    color: green;
    border-radius: 5px;
}

#negado {
    background-color: red;
}
