@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset de estilos básicos */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #acd7f1, #f0fcff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    font-family: "Libre Franklin", sans-serif;  
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

#imglogin {
    font-size: 60px; /* Aumenta o tamanho do ícone */
    color: rgb(255, 255, 255);
    background-color: #f0fcff52;
    padding: 10px;
    border-radius:50% ;
}

/* Container principal */
.container {
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.479);
    padding: 20px;
    width: 300px;
    background: #5afde8;
    background: -webkit-linear-gradient(top, #7579ff, #24afef);
    background: -o-linear-gradient(top, #7579ff, #24a5ef);
    background: -moz-linear-gradient(top, #7579ff, #24efa1);
    background: linear-gradient(top, #7579ff, #2449ef);
}

#iconcontainer {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
}

/* Estilos para o formulário */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: -2px;
    font-weight: bold;
    font-family: "Libre Franklin", sans-serif;  
    font-weight: 600;
    color: #ffffff;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: #ffffff00;
    margin-bottom: 50px;
    font-family: "Libre Franklin", sans-serif;
}

input:focus {
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 500;
}

/* Botão de Entrar */
#entrar {
    padding: 10px 20px;
    font-family: "Libre Franklin", sans-serif;  
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
}

#recover {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
    font-family: "Libre Franklin", sans-serif;  
    font-weight: 300;
}

#entrar:hover {
    background-color: #ffffff;
    color: black;
    transition: 1s;
}

/* Link para Registrar */
a {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: "Libre Franklin", sans-serif;  
    font-weight: 300;
}

a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transition: 1s;
}

/* Botão de Esqueci Minha Senha */
button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

#temp {
    padding: 10px 20px;
    background-color: #2bff0f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
}
  
.c-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 50px;
    width: 50px;
    margin: auto;
    margin-bottom: 20px;
    display: none;
}
  
@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}
