@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');;

/* Reset de estilos básicos */
/* CSS atualizado */
body {
    font-family: Arial, sans-serif;
    background-color: #FFF5E1;
    height: 100vh;
    margin: 0;
}
#container {
    display: flex;             /* Ativa o flexbox */
    justify-content: center;   /* Centraliza horizontalmente */
    align-items: center;      
    margin-top: -200px;
}

#teste {
    max-width: 330px;  /* Define o tamanho máximo */
    width: 100%;       /* A imagem vai ocupar toda a largura disponível */
    height: auto;      /* Mantém a proporção da imagem */
    margin: 218px auto 0; /* Caso você queira adicionar um espaço superior */
}

#acessar {
    margin: 0 auto; /* Centraliza horizontalmente */
    font-size: 15px;
    font-weight: 400;
    font-family: 'Comfortaa', sans-serif;
    display: block; /* Certifique-se de que o elemento é um bloco para centralizar */
    margin-bottom: 20px; /* Adiciona a margem inferior */
    text-align: center; /* Alinha o conteúdo ao centro, se for um texto */
 }
 



#erroruser, #errorrcoversenha, #errorfalha, #errorcampos ,#erroremail{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: none;
    font-family: "Libre Franklin", sans-serif;  
}

#sucesemail{
    background-color: greenyellow;
    font-family: "Libre Franklin", sans-serif; 
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px; 
    display: none;
    color: black;
}

#imglogin {
    font-size: 60px; /* Aumenta o tamanho do ícone */
    color: rgb(255, 255, 255);
    background-color: #f0fcff52;
    padding: 10px;
    border-radius:50% ;
}

/* Container principal */
.container {
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.479);
    padding: 20px;
    width: 300px;
    background: #5afde8;
    background: -webkit-linear-gradient(top, #7579ff, #24afef);
    background: -o-linear-gradient(top, #7579ff, #24a5ef);
    background: -moz-linear-gradient(top, #7579ff, #24efa1);
    background: linear-gradient(top, #7579ff, #2449ef);
}

#iconcontainer {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
}

/* Estilos para o formulário */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: -2px;
    font-weight: bold;
    font-family: "Libre Franklin", sans-serif;  
    font-weight: 600;
    color: #ffffff;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espaçamento entre os inputs */
}

input[type="email"],
input[type="password"] {
    width: 319px;
    height: 36.93px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.471)
}




/* Botão de Entrar */
#entrar {
    width: 319px;
    height: 36.93px;
    color: white;
    background: linear-gradient(0deg, #ED7B54, #ED7B54),
    linear-gradient(0deg, #ED7B54, #ED7B54);
    text-decoration: none;
    border-radius: 20px;
    margin: auto;
    font-family: 'Comfortaa', sans-serif;
    display: block;
    margin-top:50px;

  
}

#recover {

    font-family: 'Comfortaa', sans-serif;
    font-size: 13px;
    font-weight: 900;
    line-height: 11.15px;
    text-align: right;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ED7B54 ;
    
}

#entrar:hover {
    background-color: #ffffff;
    color: black;
    transition: 1s;
}

/* Link para Registrar */
#cadastro {
    width: fit-content; /* Ajusta o contêiner ao conteúdo */
    margin:80px auto 100px; /* Centraliza horizontalmente e ajusta margem superior */
    text-align: center; /* Centraliza o texto dentro do contêiner */
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    
}

#cadastro a {
    color: #f46333 ; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado do link */
}

#cadastro a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}


/* Botão de Esqueci Minha Senha */
button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

#temp {
    padding: 10px 20px;
    background-color: #2bff0f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
}

#revelar{
    display: block;
    margin-top: -45px; /* Margem superior de -45px */
    margin-bottom: 50px; /* Margem inferior de 50px */
    margin-left: auto;
    margin-right: auto;
   
}
  
.c-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 50px;
    width: 50px;
    margin: auto;
    margin-bottom: 20px;
    display: none;
}
  
@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

@media (max-width: 768px) {

    .container {
        border-radius: 10px;
        box-shadow: 0 10px 8px rgba(0, 0, 0, 0.479);
        padding: 20px;
        width: 70%;
        background: #5afde8;
        background: -webkit-linear-gradient(top, #7579ff, #24afef);
        background: -o-linear-gradient(top, #7579ff, #24a5ef);
        background: -moz-linear-gradient(top, #7579ff, #24efa1);
        background: linear-gradient(top, #7579ff, #2449ef);
    }

    input:focus {
        border: none;
        outline: none;
        color: rgb(0, 0, 0);
        font-family: 'Comfortaa', sans-serif;
        
        
    }



}
