@charset "UTF-8";

/* Reset de estilos básicos */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #acd7f1, #f0fcff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
  color: #333;
  text-align: center;

}

/* Container principal */
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.479);
    padding: 20px;
    width: 300px;
   
}

/* Estilos para o formulário */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Botão de Entrar */
#entrar {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

#recover{
    background: none;
  border: none;
  color: #007BFF;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;

}

#entrar:hover {
    background-color: #0056b3;
}

/* Link para Registrar */
a {
    padding: 10px 20px;
    background-color: #28A745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;


    
}

a:hover {
    background-color: #99670b;
}

/* Botão de Esqueci Minha Senha */
button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

#temp{
    padding: 10px 20px;
    background-color: #2bff0f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
}
  
  .c-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 50px;
    width: 50px;
    margin: auto;
    margin-bottom: 20px;
    display: none;
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }




