@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

#corpo {
    font-family: "Libre Franklin", sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    background: #514eff; /* Padrão: Light Blue */
    background: -webkit-linear-gradient(top, #70c9ec, #007bff, #3571e2); /* Chrome 10-25, Safari 5.1-6 */
    background: -o-linear-gradient(top, #65f8d3, #007bff, #33dbf5); /* Opera 11.1-12 */
    background: -moz-linear-gradient(top, #5bded8, #007bff, #2dd9f3); /* Firefox 3.6-15 */
    background: linear-gradient(to bottom, #4964fd, #007bff, #3de2fc); /* Standard syntax */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

#jogos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas com largura igual */
    gap: 20px; /* Espaço entre as colunas e linhas */
    justify-content: center;
}

#close{
    color: red;
}
#configuracoes{
    color: rgb(255, 255, 255);
}

#classico, #date, #familia, #namoro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    animation: flutuar 1.5s  linear infinite;
    border-radius: 10px;
    
}

#classico{
    background: #98FB98; /* Padrão: PaleGreen */
    background: -webkit-linear-gradient(top, #98FB98, #00FA9A); /* Chrome 10-25, Safari 5.1-6 */
    background: -o-linear-gradient(top, #98FB98, #00FA9A); /* Opera 11.1-12 */
    background: -moz-linear-gradient(top, #98FB98, #00FA9A); /* Firefox 3.6-15 */
    background: linear-gradient(to bottom, #98FB98, #00FA9A); /* Standard syntax */
}

#date{
    background: #fcb4ff; /* Padrão: Bisque */
    background: -webkit-linear-gradient(top, #e397fa, #f86ae5, #cf10f5); /* Chrome 10-25, Safari 5.1-6 */
    background: -o-linear-gradient(top, #c996e7, #ff40bf, #f8adff); /* Opera 11.1-12 */
    background: -moz-linear-gradient(top, #b105a8, #e73cfd, #c37bff); /* Firefox 3.6-15 */
    background: linear-gradient(to bottom, #f83d75, #ff0095, #ff184a); /* Standard syntax */
}

#familia{
    background: #e0c4a1; /* Padrão: Bisque */
    background: -webkit-linear-gradient(top, #f5c07f, #FFDAB9, #FFDEAD); /* Chrome 10-25, Safari 5.1-6 */
    background: -o-linear-gradient(top, #e7c396, #ffb370, #FFDEAD); /* Opera 11.1-12 */
    background: -moz-linear-gradient(top, #af9576, #da975c, #dfaf68); /* Firefox 3.6-15 */
    background: linear-gradient(to bottom, #ffce93, #fdc28e, #FFDEAD); /* Standard syntax */
}

#namoro{
    background: #ff0000; /* Padrão: Bisque */
    background: -webkit-linear-gradient(top, #ffffff, #ffbef6, #f55110); /* Chrome 10-25, Safari 5.1-6 */
    background: -o-linear-gradient(top, #fdcce0, #fd5d5d, #ff0000); /* Opera 11.1-12 */
    background: -moz-linear-gradient(top, #f86666, #f8652a, #bb0000); /* Firefox 3.6-15 */
    background: linear-gradient(to bottom, #ff0263, #ff1d1d, #ffb6c6); /* Standard syntax */
}

.material-symbols-outlined {
    font-size: 48px; 
    /* Tamanho dos ícones */
}

.jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jogo p {
    margin-top: 10px; /* Ajuste a margem conforme necessário */
    font-family: "Libre Franklin", sans-serif;
    font-size: 18px;
    color: white;
    margin-bottom: 60px;
}

#opcoes {
    display: flex;
    justify-content: right;
}

#opcoes > span {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    margin-bottom: 50px;
}

#menuconfig {
    margin-top: -70px;
    display: flex;
    justify-content: right;
    gap: 65%;
    padding: 20px;
}

#menuconfig ul {
    position: absolute;
    list-style-type: none;
    padding: 0;
    width: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-right: 20px;
    z-index: 999;
}

#menuconfig li {
    padding: 10px;
    cursor: pointer;
    font-family: "Libre Franklin", sans-serif;
}

#menuconfig li:hover {
    background-color: #e0e0e0;
}

@keyframes flutuar{
    0%{transform: translateY(0);}
    50%{transform: translateY(-15px);}
    100%{ transform: translateY(0);}
   
}