@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Libre Franklin", sans-serif; ;
    margin: 0;
    padding: 0;
    width: 100vw; 
    background: #ff0000; /* Padrão: Bisque */
    background: -webkit-linear-gradient(top, #ffffff, #ffbef6, #f55110); /* Chrome 10-25, Safari 5.1-6 */
    background: -o-linear-gradient(top, #fdcce0, #fd5d5d, #ff0000); /* Opera 11.1-12 */
    background: -moz-linear-gradient(top, #f86666, #f8652a, #bb0000); /* Firefox 3.6-15 */
    background: linear-gradient(to bottom, #ff0263, #ff1d1d, #ffb6c6); /* Standard syntax */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

#config{
    color: white;
    display: block;
    text-align: center;
    margin-top: 20px;
}

#fechar{
    color: white;
    display: block;
    text-align: center;
    margin-top: 20px;
}

#fechar:hover{
    color: rgb(255, 0, 0);
    cursor: pointer;
    transition: 0.5;

}

#config:hover{
    cursor: pointer;
    color: black;
    transition: 0.5;
}

#menuconfig{
        position: fixed;
        top: 0;
        left: 0;
        width: 200px; /* Ajuste a largura conforme necessário */
        height: 100%;
        background-color: #ffffff; /* Ajuste a cor conforme necessário */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        z-index: 1000; /* Certifique-se de que o menu fica no topo */
        display: none;
}

    

#menuconfig ul {
    list-style-type: none;
    padding: 0;
}

#menuconfig li {
    padding: 10px;
    cursor: pointer;
    font-family: "Libre Franklin", sans-serif;  

}

#menuconfig li:hover {
    background-color: #e0e0e0;
}


.container {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.cartarel{
    height: 400px;
    width: 250px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-family: "Libre Franklin", sans-serif;  ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #2c2c2c; /* Borda cinza */
    font-size: 20px;
    text-align: left;
    line-height: 30px;
    background: #ce0000; /* Padrão: Bisque */
    background: -webkit-linear-gradient(top, #ff2828, #f886b2, #ff0a0a); /* Chrome 10-25, Safari 5.1-6 */
    background: -o-linear-gradient(top, #da0049, #ea49ff, #ac001d); /* Opera 11.1-12 */
    background: -moz-linear-gradient(top, #d021fc, #722af8, #8000bb); /* Firefox 3.6-15 */
    background: linear-gradient(to bottom, #fd0c2c, #d42390fa, #fd7295); /* Standard syntax */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.473); 

}


#dado {
    width: 90px; 
    height: 90px; 
    background-color: #fff; 
    border: 2px solid #000; 
    border-radius: 10px; 
    font-size: 1.5em; 
    font-weight: bold; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer; 
    position: relative; 
    overflow: hidden; 
    margin: 50px auto;
    
    
}

#dado::before {
    content: ""; 
    position: absolute; 
    width: 30px; 
    height: 30px; 
    background-color: #ff0000; 
    border-radius: 50%; 
    top: -15px; 
    left: -15px; }

#dado::after {
    content: ""; 
    position: absolute; 
    width: 30px; 
    height: 30px; 
    background-color: #000264; 
    border-radius: 50%; 
    right: -20px; 
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#dado.spin-animation {
    animation: spin 1s linear ; 
}

@media (max-width: 768px) {

    #menuconfig{
        position: fixed;
        top: 0;
        left: 0;
        width: 130px; /* Ajuste a largura conforme necessário */
        height: 100%;
        background-color: #ffffff; /* Ajuste a cor conforme necessário */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        z-index: 1000; /* Certifique-se de que o menu fica no topo */
        display: none;
}

#menuconfig li {
    padding: 10px;
    cursor: pointer;
    font-family: "Libre Franklin", sans-serif; 
    font-size: 15px; 

}
}