@charset "UTF-8";

body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(196, 245, 104);
}

#perfil{
    color: white;
    display: block;
    text-align: center;
    font-size: 100px;
    margin-top: 50px;
}

#user{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    width: 300px;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 30px;

}

#principal-nome{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#volt{
   display: block;
   margin: auto;
   padding: 10px;
   background-color: rgb(255, 68, 0);
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   border-radius: 20px;
   margin-top: 50px;
   text-decoration: none;

}

#confi{
    background-color: rgb(5, 168, 168);
}

#recoversenha{
    margin-top: 30px;
    padding: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    background-color: rgb(93, 235, 93);
    margin-left: 50px;

}


#recoveremail{
    margin-top: 30px;
    padding: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    background-color: rgb(93, 235, 93);
    margin-left: -20px;

} 

#emailrec{
    padding: 10px;
    display: block;
    margin: 50px auto;
    border-radius: 10px;
}








