@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #ffffff;
    height: 100vh;
    margin: 0;
}

#container {
    display: flex;             /* Ativa o flexbox */
    justify-content: center;   /* Centraliza horizontalmente */
    align-items: center;      
    margin-top: -200px;
}

#logo{
    max-width: 330px;  /* Define o tamanho máximo */
    width: 100%;       /* A imagem vai ocupar toda a largura disponível */
    height: auto;      /* Mantém a proporção da imagem */
    margin: 150px auto -20px auto ; 
}

#realizar {
    margin: 0 auto; /* Centraliza horizontalmente */
    font-size: 15px;
    font-weight: 400;
    font-family: 'Comfortaa', sans-serif;
    display: block; /* Certifique-se de que o elemento é um bloco para centralizar */
    margin-bottom: 20px; /* Adiciona a margem inferior */
    text-align: center; /* Alinha o conteúdo ao centro, se for um texto */
 }

 #realizar > p {
    
    color: #ED7B54;
 }

#erros{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-family: "Libre Franklin", sans-serif;
      
}

#sucesso{
    background-color: rgb(60, 255, 0);
    color: rgb(0, 0, 0);
    padding: 50px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-family: "Libre Franklin", sans-serif; 
     
}

#form-registro {
    margin: auto;
    max-width: 350px;
    padding-bottom: 100px; /* Adiciona espaço no final do formulário */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 319px;
    height: 36.93px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #ED7B54;
    padding-bottom: 5px;
    font-family: 'Comfortaa', sans-serif; 
}

input::placeholder {
    font-family: 'Comfortaa', sans-serif;
    font-size: 15px; 
    color: #ED7B54;
}

input:focus{
    outline: none
}

 #registrar{
    background-color: #ED7B54;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    margin-top: 80px;
    width: 319px;
    height: 36.93px;
    top: 723px;
    left: 60px;  
    display: block;
    border: none;
    border-radius: 50px;
    font-family: 'Comfortaa', sans-serif; 
}

#volt {
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    margin-top: 50px;
    font-family: 'Comfortaa', sans-serif;
}


a{
    color: #ED7B54;
}

#olho{
    display: flex;
    align-items: center;
}

#revelar{
    color:#ED7B54;
    font-size: 22px;
    margin-left: -20px;
}


