@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #fff349;
    padding: 20px;
}
form {
    margin: auto;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
label {
    font-weight: bold;
    
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px; /* Garante que o padding não aumente a largura */
}
button {
    width: 100%; /* Ocupa a largura total do pai (form) */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    
}
button:hover {
    background-color: #0056b3;
}

