@charset "UTF-8";

body{
    background-color: rgb(253, 171, 18);
    margin: 0%;
    padding: 0%;
}

h1,h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

p{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 400px;
    line-height: 35px;
    display: block;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
}

div{
    top: 50px;
    background-color: white;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
}

a {
    text-decoration: none;
    background-color: chartreuse;
    padding: 10px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: block; /* Transforma o elemento em bloco */
    width: fit-content; /* Define a largura do elemento com base no conteúdo */
    margin: 50px auto; /* Centraliza o elemento horizontalmente */
}
