@charset "UTF-8";

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    background-image: url('316dd73e47443990d0a853ce705af602.jpg'); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho correto da sua imagem */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o corpo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */

}

/* Estilo para as cartas de intimidade */


/* Estilo para as cartas de conhecer */
#conhecer {
    
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilo para o texto dentro das cartas */
.cartaint {
    height: 400px;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #ff933b;
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #2c2c2c; /* Borda cinza */
    font-size: 20px;

}

.desafio{

    height: 400px;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    background: linear-gradient(to bottom, rgb(255, 0, 0),rgb(247, 135, 8), rgb(226, 123, 247));
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #2c2c2c; /* Borda cinza */
    font-size: 20px;
    animation: pulse 2s infinite;
}


.cartacon{
    height: 400px;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #72ff6d;
    padding: 20px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #2c2c2c; /* Borda cinza */

}


/* Estilo para o título da página */
h1 {
    text-align: center;
    color: #333; /* Cor do título cinza escuro */
}

/* Estilo para o conteúdo geral */
#cartasint,
#cartascon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

/* Adiciona sombra às divs dentro de #cartasint e #cartascon */
#conhecer div,
#intimidade div {
    box-shadow: 20px 10px 20px rgb(0, 0, 0); 
}





#dado {
    width: 100px; 
    height: 100px; 
    background-color: #fff; 
    border: 2px solid #000; 
    border-radius: 10px; 
    font-size: 1.5em; 
    font-weight: bold; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer; 
    position: relative; 
    overflow: hidden; 
}

#dado::before {
    content: ""; 
    position: absolute; 
    width: 30px; 
    height: 30px; 
    background-color: #ff0000; 
    border-radius: 50%; 
    top: -15px; 
    left: -15px; }

#dado::after {
    content: ""; 
    position: absolute; 
    width: 30px; 
    height: 30px; 
    background-color: #000264; 
    border-radius: 50%; 
    right: -20px; 
}




@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#dado.spin-animation {
    animation: spin 1s linear infinite; 
}

@keyframes pulse {
    0% { transform: scale(0.9); }
    50% { transform: scale(1.1); }
    100% { transform: scale(0.9); }
}
















