@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilo para o corpo da página */
body {
    font-family: "Libre Franklin", sans-serif; ;
    margin: 0;
    padding: 0;
    width: 100vw; 
    background: linear-gradient(to bottom, #93ccf0, #f0fcff);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
}

#config{
    color: white;
    display: block;
    text-align: center;
    margin-top: 20px;
}

#fechar{
    color: white;
    display: block;
    text-align: center;
    margin-top: 20px;
}

#fechar:hover{
    color: rgb(255, 0, 0);
    cursor: pointer;
    transition: 0.5;

}

#config:hover{
    cursor: pointer;
    color: black;
    transition: 0.5;
}

#menuconfig{
        position: fixed;
        top: 0;
        left: 0;
        width: 200px; /* Ajuste a largura conforme necessário */
        height: 100%;
        background-color: #ffffff; /* Ajuste a cor conforme necessário */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        z-index: 1000; /* Certifique-se de que o menu fica no topo */
        display: none;
}

    

#menuconfig ul {
    list-style-type: none;
    padding: 0;
}

#menuconfig li {
    padding: 10px;
    cursor: pointer;
    font-family: "Libre Franklin", sans-serif;  

}

#menuconfig li:hover {
    background-color: #e0e0e0;
}


#conhecer {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilo para o texto dentro das cartas */
.cartaint {
    height: 400px;
    width: 250px;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 20px;
    background: #5afde8;
    background: -webkit-linear-gradient(top, #7579ff, #24afef);
    background: -o-linear-gradient(top, #7579ff, #24a5ef);
    background: -moz-linear-gradient(top, #7579ff, #24efa1);
    background: linear-gradient(top, #7579ff, #2449ef); /* Fundo da carta lavanda */
    color: rgb(255, 255, 255); /* Cor do texto cinza escuro */
    padding: 20px;
    border-radius: 20px;
    font-family: "Libre Franklin", sans-serif;  ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #2c2c2c; /* Borda cinza */
    font-size: 20px;
    text-align: left;
    line-height: 40px;

}



.desafio{

    height: 400px;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
    background: linear-gradient(to bottom, rgb(255, 0, 0),rgb(247, 135, 8), rgb(226, 123, 247));
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-family: "Libre Franklin", sans-serif;  ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #2c2c2c; /* Borda cinza */
    font-size: 20px;
    animation: pulse 2s infinite;
}

   

.cartacon{
    height: 400px;
    width: 250px;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-family: "Libre Franklin", sans-serif;  ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #2c2c2c; /* Borda cinza */
    font-size: 20px;
    text-align: left;
    line-height: 40px;
    background: #98FB98; /* Padrão: PaleGreen */
    background: -webkit-linear-gradient(top, #98FB98, #00FA9A); /* Chrome 10-25, Safari 5.1-6 */
    background: -o-linear-gradient(top, #98FB98, #00FA9A); /* Opera 11.1-12 */
    background: -moz-linear-gradient(top, #98FB98, #00FA9A); /* Firefox 3.6-15 */
    background: linear-gradient(to bottom, #98FB98, #00FA9A); /* Standard syntax */
    
    /* Borda cinza */

}


/* Estilo para o título da página */
h1 {
    text-align: center;
    color: #333; /* Cor do título cinza escuro */
}

/* Estilo para o conteúdo geral */
#cartasint,
#cartascon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

/* Adiciona sombra às divs dentro de #cartasint e #cartascon */
#conhecer div,
#intimidade div {
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.473); 
}


#dado {
    width: 90px; 
    height: 90px; 
    background-color: #fff; 
    border: 2px solid #000; 
    border-radius: 10px; 
    font-size: 1.5em; 
    font-weight: bold; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer; 
    position: relative; 
    overflow: hidden; 
    margin-top: -30px;
    
    
}

#dado::before {
    content: ""; 
    position: absolute; 
    width: 30px; 
    height: 30px; 
    background-color: #ff0000; 
    border-radius: 50%; 
    top: -15px; 
    left: -15px; }

#dado::after {
    content: ""; 
    position: absolute; 
    width: 30px; 
    height: 30px; 
    background-color: #000264; 
    border-radius: 50%; 
    right: -20px; 
}

.cartarel{
    height: 400px;
    width: 250px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: -30px;
    background-color: #ff0000;
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-family: "Libre Franklin", sans-serif;  ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #2c2c2c; /* Borda cinza */
    font-size: 20px;
    text-align: left;
}




#relacon {
    display: flex;
    
    font-size: 17px;
}

#relacon:hover{
    cursor: pointer;
    background-color: #ff0000;

}

.novo-papel-de-parede {
    background-image: url('papelamor.jpg');
    background-repeat: repeat;
    background-size: cover;
    /* Adicione outras propriedades de estilo conforme necessário */
}


  

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#dado.spin-animation {
    animation: spin 1s linear ; 
}

@keyframes pulse {
    0% { transform: scale(0.9); }
    50% { transform: scale(1.1); }
    100% { transform: scale(0.9); }
}

@media (max-width: 768px) {

    #menuconfig{
        position: fixed;
        top: 0;
        left: 0;
        width: 130px; /* Ajuste a largura conforme necessário */
        height: 100%;
        background-color: #ffffff; /* Ajuste a cor conforme necessário */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        z-index: 1000; /* Certifique-se de que o menu fica no topo */
        display: none;
}

#menuconfig li {
    padding: 10px;
    cursor: pointer;
    font-family: "Libre Franklin", sans-serif; 
    font-size: 15px; 

}

.cartaint .cartacon {
    width: 55%;
}



}















